.catalog {
  padding-top: 80px;
  padding-bottom: 40px
}

.catalog__top {
  padding-bottom: 40px
}

.catalog__content-title {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -.7px;
  color: var(--dark)
}

.catalog__time {
  margin: 0;
  font-size: 12px;
  color: var(--middle-gray)
}

.catalog__desc {
  margin-top: 0;
  margin-bottom: 15px
}

.catalog__link {
  font-size: 16px;
  font-weight: 600;
  color: var(--violet-middle)
}

.catalog__wrap {
  display: flex;
  justify-content: space-between
}

.catalog__painter-info {
  display: none
}

.catalog__painter-info.active {
  display: block;
  animation-name: fade-in;
  animation-duration: .5s
}

.catalog__accordion {
  width: calc(800 / 1600 * 100%)
}

.catalog__content-wrap {
  width: calc(750 / 1600 * 100%)
}

.accordion__question:first-child .accordion__heading {
  border-top: 1px solid var(--light-middle-gray)
}

.accordion__heading {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 0;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--light-middle-gray);
  border-right: none;
  border-left: none;
  padding: 41px 120px 41px 0;
  font-size: 24px;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  transition: color .3s ease, border-color .3s ease
}

.accordion__heading:hover,
.accordion__question:first-child .accordion__heading:hover {
  border-color: var(--violet-middle)
}

.accordion__heading:active,
.accordion__question:first-child .accordion__heading:active,
.is-active.accordion__question .accordion__heading,
.is-active.accordion__question:first-child .accordion__heading {
  border-color: var(--violet-dark)
}

.accordion__heading-text {
  position: relative
}

.accordion__heading-text-wrap {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px
}

.accordion__heading-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 8px);
  height: 100%;
  transform: translate(-50%, -50%) scaleX(0);
  background-color: var(--violet-middle);
  transition: transform .3s ease
}

.accordion__heading:hover {
  color: var(--violet-middle)
}

.accordion__heading:active {
  color: var(--violet-dark)
}

.accordion__heading:focus:not(:active) {
  color: var(--white);
  outline: 0
}

.accordion__heading:focus:not(:active) .accordion__heading-text::before {
  transform: translate(-50%, -50%) scaleX(1)
}

.head-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  transform: translateY(-50%) rotate(-180deg);
  transition: background-color.3s, .6s ease, transform .3s, .6s ease
}

.head-icon-round {
  transition: fill .5s ease, stroke .5s ease
}

.accordion__heading:focus .head-icon-round,
.accordion__heading:hover .head-icon-round {
  fill: var(--violet-ultra-light);
  stroke: var(--violet-ultra-light)
}

.accordion__heading:focus .head-icon::after,
.accordion__heading:focus .head-icon::before,
.accordion__heading:hover .head-icon::after,
.accordion__heading:hover .head-icon::before {
  background-color: var(--white)
}

.is-active .head-icon {
  transform: translateY(-50%) rotate(0)
}

.is-active .accordion__heading .head-icon-round {
  fill: var(--violet-ultra-light);
  stroke: var(--violet-middle)
}

.accordion__content {
  overflow: hidden;
  visibility: hidden;
  margin-top: -1px;
  border-bottom: 1px solid transparent
}

.is-active .accordion__content {
  visibility: visible;
  border-color: var(--light-middle-gray)
}

.accordion__content-wrap {
  padding-top: 26px;
  padding-bottom: 26px
}

.accordion__content-zero {
  display: flex;
  flex-direction: row;
  align-items: center
}

.accordion__content-img {
  padding-right: 23px
}

.accordion__content-text {
  padding-right: 220px
}

.accordion__inner-list {
  width: 91%;
  column-count: 3
}

.accordion__painter-link.active {
  color: var(--violet-dark)
}
